<HTML>
<HEAD>
	<TITLE>Castrol ZOOM</TITLE>
	
<link rel="stylesheet" type="text/css" href="../js-css/style.css">
<SCRIPT LANGUAGE="JavaScript">
<!--

if (document.images) {
    var img1 = new Image();
    var img2 = new Image();
	var img3 = new Image();
	var img4 = new Image();
	var img5 = new Image();
	var img6 = new Image();
	var img7 = new Image();
	var img8 = new Image();
	
	img1.src = "../shared/2btregister.gif";
	img2.src = "../shared/2btzoomperks.gif";
	img3.src = "../shared/2btpromo.gif";
	img4.src = "../shared/2btzoomcalendar.gif";
	img5.src = "../shared/2btzoomgame.gif";
	img6.src = "../shared/2btgallery.gif";
	img7.src = "../shared/2btforum.gif";
	img8.src = "../shared/2btlinks.gif";
}

function highlight(img, location, desc) {
    if (document.images) {
		document.images[img].src = location + "2bt" + img + ".gif";
    }
	window.status=desc;
	return true;
}

function unhighlight(img, location) {
    if (document.images) {
		document.images[img].src = location + "bt" + img + ".gif";
    }
	window.status="";
	return true;
}

//-->
</SCRIPT>

</HEAD>

<BODY BGCOLOR="#FFFFFF" MARGINWIDTH=0 MARGINHEIGHT=0 TOPMARGIN=0 LEFTMARGIN=0>
<a name="top"></a>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0>
	<TR>
		<TD><IMG SRC="shared/pixel.gif" WIDTH=20 HEIGHT=1 BORDER=0></TD>
		<TD>
		
		
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH=740>
	<TR>
		<TD><IMG SRC="../shared/pixel.gif" WIDTH=1 HEIGHT=15 BORDER=0></TD>
	</TR>
	<TR>
		<TD><IMG SRC="../shared/logo.gif" WIDTH=365 HEIGHT=68 BORDER=0 ALT="Castrol"></TD>
		<TD VALIGN="TOP" ALIGN="RIGHT">
			<span><A HREF="/terms/" class="utilityLink">Terms and Conditions</A></span>
			<span class="greenPipe">|</span>
			<span><A HREF="/contactus/" class="utilityLink">Contact Us</A></span>
			<span class="greenPipe">|</span>
			<span><A HREF="/index.html" class="utilityLink">Home</A></span>
			<form name="SearchResultForm" method="get">
				<span class="greenBold">Username</span><span class="mLeft5"></span>
				<input type="text" name="keyword" value="" class="searchBox" size=10><span class="mLeft5"></span>
				<span class="greenBold">Password</span><span class="mLeft5"></span>
				<input type="text" name="keyword" value="" class="searchBox" size=10><span class="mLeft5"></span>
				<input type="submit" value="Go" class="goAnchor">
			</form>
		</TD>
	</TR>
</TABLE>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH=740>
	<TR>
		<TD><IMG SRC="../shared/pixel.gif" WIDTH=1 HEIGHT=10 BORDER=0></TD>
	</TR>
	<TR>
		<TD><A HREF="/register/" onMouseOver="return highlight('register','../shared/','Register')" onMouseOut="return unhighlight('register','../shared/')"><IMG SRC="../shared/btregister.gif" NAME="register" WIDTH=80 HEIGHT=29 BORDER=0 ALT="Register"></A></TD>
		<TD><A HREF="/zoomperks/" onMouseOver="return highlight('zoomperks','../shared/','Zoom Perks')" onMouseOut="return unhighlight('zoomperks','../shared/')"><IMG SRC="../shared/btzoomperks.gif" NAME="zoomperks" WIDTH=94 HEIGHT=29 BORDER=0 ALT="Zoom Perks"></A></TD>
		<TD><A HREF="/promo/" onMouseOver="return highlight('promo','../shared/','Promo Announcement')" onMouseOut="return unhighlight('promo','../shared/')"><IMG SRC="../shared/btpromo.gif" NAME="promo" WIDTH=157 HEIGHT=29 BORDER=0 ALT="Promo Announcement"></A></TD>
		<TD><A HREF="/zoomcalendar/" onMouseOver="return highlight('zoomcalendar','../shared/','Zoom Calendar')" onMouseOut="return unhighlight('zoomcalendar','../shared/')"><IMG SRC="../shared/btzoomcalendar.gif" NAME="zoomcalendar" WIDTH=112 HEIGHT=29 BORDER=0 ALT="Zoom Calendar"></A></TD>
		<TD><A HREF="/zoomgame/" onMouseOver="return highlight('zoomgame','../shared/','Zoom Game')" onMouseOut="return unhighlight('zoomgame','../shared/')"><IMG SRC="../shared/btzoomgame.gif" NAME="zoomgame" WIDTH=96 HEIGHT=29 BORDER=0 ALT="Zoom Game"></A></TD>
		<TD><A HREF="/gallery/" onMouseOver="return highlight('gallery','../shared/','Gallery')" onMouseOut="return unhighlight('gallery','../shared/')"><IMG SRC="../shared/btgallery.gif" NAME="gallery" WIDTH=62 HEIGHT=29 BORDER=0 ALT="Gallery"></A></TD>
		<TD><A HREF="/forum/" onMouseOver="return highlight('forum','../shared/','Forum')" onMouseOut="return unhighlight('forum','../shared/')"><IMG SRC="../shared/btforum.gif" NAME="forum" WIDTH=66 HEIGHT=29 BORDER=0 ALT="Forum"></A></TD>
		<TD><A HREF="/links/" onMouseOver="return highlight('links','../shared/','Links')" onMouseOut="return unhighlight('links','../shared/')"><IMG SRC="../shared/btlinks.gif" NAME="links" WIDTH=73 HEIGHT=29 BORDER=0 ALT="Links"></A></TD>
	</TR>
</TABLE>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH=740>
	<TR>
		<TD><IMG SRC="../shared/pixel.gif" WIDTH=1 HEIGHT=40 BORDER=0></TD>
	</TR>
	<TR>
		<TD><IMG SRC="flash_image.jpg" WIDTH=740 HEIGHT=185 BORDER=0></TD>
	</TR>
	<TR>
		<TD><IMG SRC="../shared/pixel.gif" WIDTH=1 HEIGHT=15 BORDER=0></TD>
	</TR>
</TABLE>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH=740>
	<TR>
		<TD VALIGN="TOP">
			<BR><BR><BR><BR><BR><BR><BR><BR>
		</TD>
	</TR>
</TABLE>
<TABLE CELLSPACING=0 CELLPADDING=0 BORDER=0 WIDTH=740>
	<TR>
		<TD><IMG SRC="../shared/pixel.gif" WIDTH=1 HEIGHT=25 BORDER=0></TD>
	</TR>
	<TR>
		<TD WIDTH=100% BGCOLOR="#99D6AD"><IMG SRC="../shared/pixel.gif" WIDTH=1 HEIGHT=1 BORDER=0></TD>
	</TR>
</TABLE>
<TABLE CELLSPACING=8 CELLPADDING=0 BORDER=0 WIDTH=740 BGCOLOR="#EFEFEF">
	<TR BGCOLOR="#EFEFEF">
		<TD>
			<span class="green">
			&copy; Castrol Limited 1999-2004
			</span>
			<span class="greenPipe">|</span>
			<a href="/privacy/">
			<span class="green">
            Privacy statement
			</span>
            </a>
			
		</TD>
		<TD ALIGN="RIGHT">
			<a href="#top" class="link10">
			<img SRC="../shared/back_to_top_arrow.gif" alt="" class="mRight5 pBot2" width="7" height="4" border="0">
			back to top
			 </a>&nbsp;&nbsp;
		</TD>
	</TR>
</TABLE>


		</TD>
	</TR>
</TABLE>

</BODY>
</HTML>
