.mastHeadborder{

	width: 760px;

	padding: 0px;

	margin: 15px 0 0 0;

}



.nowrap

{

 white-space: nowrap;

 font-size: 9pt;

 font-family: "Arial";

}



.mastHeadContainer{

	width: 740px;

	padding: 0px;

	margin: 0px 0px 0px 20px;

	position: relative;

	z-index: 2;

}



.mastHeadBlock{

	width: 740px;

	margin-left: 10px;

	display: block;

	float: left;

	color: #FFFFFF;

	background-color: #DC241F;

	border-top: 2px solid #FF9999;

	border-bottom: 2px solid #990000;

	margin-top: -24px;

	height: 25px;

	background-position: left;

	

}

html>body .mastHeadBlock{

	margin-top: -29px;

	margin-left: 20px;

	height: 25px;

}



#mastHeadTopNav{

	width: 370px;

	float: right;

}





#mastHeadTopNavPopup{

	width: 70px;

	float: right;

}





#bpLogo{

	margin: 0 0 0 20px;

	padding: 0;

	border: 0;

	float: left;

}



#bpLogo1{

	margin: 0;

	padding: 0;

	border: 0;

	float: left;

	width:367px;

}



#castrolLogo2col{

	margin: 0;

	padding: 0;

	border: 0;

	float: left;

	width:375px;

}







.tableContainer{

	float: right;

}



.pipeDiv{

	color: #BAD75F;

	font-size: 8pt;

  /*font-size: 80%;*/

}



.search{

	float: right;

}



.searchBox{

	width: 150px;

	font-family: Arial, Verdana, Helvetica, sans-serif; 

	font-size: 8pt;

 /* font-size: 80%;*/

	font-style: normal; 

	margin: 0;

	padding: 0;

	vertical-align: middle;

	color: #000000;

}



.goAnchor{

	color: #FFFFFF;

	background-color: #007E3A;

	font-family: Arial, Verdana, Helvetica, sans-serif; 

	font-size: 9pt;

	font-style: normal; 

	font-weight: bold;

	text-align: center;

	text-decoration: none;  

	padding: 0 4px 0 4px;

	border-top: 1px solid #99D6AD;

	border-left: 1px solid #99D6AD;

	border-bottom: 1px solid #000000;

	border-right: 1px solid #000000; 	

	height: 20px;

	vertical-align: middle;

	cursor: hand;

}



html>body .goAnchor{

	cursor: pointer;

	padding: 1px 4px 0px 4px;

}



.button{

	color: #FFFFFF;

	background-color: #DC241F;

	height: 20px;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 10pt;

	font-style: normal;

	font-weight: bold;

	text-align: center;

	text-decoration: none;

	padding: 1px 10px 1px;

	margin: 0px;

	display: block;

	border-top: 2px solid #FF9999;

	border-right: 2px solid #990000;

	border-left: 2px solid #FF9999;

	border-bottom: 2px solid #990000;

	float: left;

	width: auto;

	vertical-align: middle;

}



.button:Hover{

	color: #FFFFFF;

	background-color: #990000;

	height: 20px; 

	font-family: Arial, Verdana, Helvetica, sans-serif; 

	font-size: 10pt;

	font-style: normal; 

	font-weight: bold;

	text-align: center;

	text-decoration: none;  

	padding: 1px 10px 1px 10px;

	margin: 0px;

	display: block;	

	float: left;

	border-top: 2px solid #990000;

	border-right: 2px solid #990000; 

	border-left: 2px solid #990000;

	border-bottom: 2px solid #990000;

}



.button:Active{

	color: #FFFFFF;

	background-color: #990000;

	height: 20px; 

	font-family: Arial, Verdana, Helvetica, sans-serif; 

	font-size: 10pt;

	font-style: normal; 

	font-weight: bold;

	text-align: center;

	text-decoration: none;  

	padding: 1px 10px 1px 10px;

	margin: 0px;

	display: block;	

	float: left;

	border-top: 2px solid #990000;

	border-right: 2px solid #990000; 

	border-left: 2px solid #990000;

	border-bottom: 2px solid #990000;

}



.button1{

	color: #DC241F;

	background-color: #FFFFFF;

	height: 20px;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-size: 10pt;

	font-style: normal;

	font-weight: bold;

	text-align: center;

	text-decoration: none;

	padding: 1px 10px 1px 10px;

	display: block;

	float: left;

	border-top: 2px solid #990000;

	border-bottom: 2px solid #FFFFFF;

	border-right: 1px solid #990000;

	border-left: 1px solid #990000;

	z-index:5;

	white-space: nowrap;

	vertical-align: middle;

	

}



/*

html>body .button1 { 

	padding-bottom: 0px;

	height: 22px; 

	border-bottom: 2px solid #FFFFFF;

}

*/



.vertical6{

	padding: 0;

	margin: 0;

	height: 3px;

	overflow: hidden;

}



html>body .vertical6{

	height: 7px;

}



#enterCode{

	margin: 0;

	float: left;	

	padding: 0;

}



/* Begin: popupMasthead main container */

#pMastContainer{

	width:375px;

	padding: 0;

	height: 70px;

	margin: 15px 0 15px 0;

}

/* End: popupMasthead main container */



.mColLeft{

	float:left;

	padding: 0;

	margin: 0px 1px 0 0;

	width: 15px;

}



.mColRight{

	float:left;

	padding: 0 0 3px 0;		

	margin:0;

}



html>body .mColLeft{

	margin: 0 5px 0 0;

}



.pMastHead3Col{

	width: 375px;

	height: 70px;

	margin: 15px 0px 15px 0px;

}



.navcontrol10 {

	margin-bottom: 6px;

	overflow:hidden;

}



html>body .navcontrol10 { 

	height: 2px;

	overflow:hidden;

}



#tableContainer1{

	position: absolute;

	top: 15px;

	left: 490px;

	float: right;

	width: 100px;

	

}



#tableContainer2{

	position: absolute;

	top: 30px;

	left: 285px;

	float: right;

	width: 100px;

	

}



.selectBox{

 font: 8pt Arial, Verdana, Helvetica, sans-serif; 

 margin: 0;

 padding: 0;

 vertical-align: middle;

 color: #000000;

}





