.homeCountryContainer{

	width: 238px;

	margin-bottom: 15px;

	background-color: #99D6AD;

}



.homeCountryContainerInner{

	padding: 10px 10px 10px 10px;

}



.homectrSelect{

	width: 177px;

	margin-right: 5px;

	margin-bottom: 10px;

}