/* Begin: Page Title */

.pageTitle{

	font-family: Arial, Helvetica, sans-serif;

	font-style: normal;

	font-weight: bold;

	font-size: 15pt;

	color: #dc241f;

}

/* End: Page Title */



/* Begin: Section Title */

.sectionTitle{

	font-family: Arial, Helvetica, sans-serif;

	font-style: normal;

	font-weight: bold;

	font-size: 19pt;

	color: #dc241f;

}

/* End: Section Title */



/* End: Section  Title */



/* Begin: Title */

.title{

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11pt;

	color: #007E3A;

	font-weight: bold;

}

/* End: Title */



/* Begin: Sub-heading */

.grey11pt{

	font-family: Arial, Helvetica, sans-serif;

	font-style: normal;

	font-weight: normal;

	font-size: 11pt;

	color: #616a74;

}

/* End:  Sub-heading */



/* Begin: Heading 13pt */

.heading{

	vertical-align: middle;

	text-align: left;

	font-family: Arial, Helvetica, sans-serif;

	font-style: normal;

	font-weight: bold;

	font-size: 13pt;

	color: #dc241f;

}

/* End: Heading 13pt */



/* Begin: Light Green Bold Heading text */

.lightGreenBold{

	font-size: 11pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	color: #007E3A;

}

/* End: Light Green Bold Heading text */



/* Begin: Intro Text */

.introText{

	font-size : 11pt;

	font-family: arial;

	font-weight: normal;

	color: #616a74;

	text-align: left;

}

/* End: Intro Text */



/* Begin: Orange regular error text */

.errorText{

	font-size: 8pt;

	font-family: arial;

	font-weight: normal;

	color: #cd5806;

}

/* End: Orange regular error text */



/* Begin: Orange regular error text */

.errorBoldText{

	font-size : 11pt;

	font-family: arial;

	font-weight: bold;

	color: #cd5806;

}

/* End: Orange regular error text */



/* Begin: Green regular text */

.green{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #007B32;

}

/* End: Green regular text*/ 



.greenBold{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: bold;

	color: #007e3a;

}



/* Begin: Anchor active used for the active state of Left Nav */

.anchorActive{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	color: #FF0000;

}

/* End: Anchor active used for the active state of Left Nav */



/* Begin: Left Nav text classes */

.anchor{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #007B32;

	padding: 1px;

}



.anchor:Hover{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #dc241f;

	text-decoration: none;

}



.anchor:Active{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	color: #FF0000;

}

/* End: Left Nav text classes */



/* Begin: Green Regular Link text */ 

a{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: none;	

	

}



a:Hover{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: underline;

}



a:Active{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: none;

}	



a.leftNavToolLink{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: none;	

	

}



a.leftNavToolLink:Hover{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: underline;

}



a.leftNavToolLink:Active{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	color: #FF0000;

	text-decoration: none;

}	



.blue{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

}



/* Begin: Green Regular Link text 10px */ 

.link10{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #007B32;

	text-decoration: none;

}



.link10:Hover{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #007B32;

	text-decoration: underline;

}



.link10:Active{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: bold;

	color: #007B32;

	text-decoration: none;

}

/* End: Green Regular Link text 10px */



/* Begin: Utility Links */ 

.utilityLink{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #007B32;

	text-decoration: none;

}



.utilityLink:Hover{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #dc241f;

	text-decoration: none;

}



.utilityLink:Active{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: Bold;

	color: #FF0000;

	text-decoration: none;

}

/* End: Utility Links */



/* Begin: Grey bold text */

.greyBold{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: bold;

	color: #616a74;

}

/* Ends: Grey bold text */



/* Begin: Grey regular text */

.grey{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #616a74;

	text-align: left;

}

/* End: Grey regular text */

/* Begin: greyLarge */

.greyLarge{

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11pt;

	color: #616a74;

	font-weight: normal;

}

.greyLargeBold{

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11pt;

	color: #616a74;

	font-weight: bold;



}



.red11ptBold{

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11pt;

	color: #dc241f;

	font-weight: bold;

}

	

.greenLargeRegular{

	font-size: 11pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	font-style: normal;

	color: #007B32;

}



.greenLargeRegular13{

	font-size: 13pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	font-style: normal;

	color: #007B32;

}



.greenLargeBold13{

	font-size: 13pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	font-style: normal;

	color: #007B32;

	font-weight: bold;

}



a.whiteLargeBold{

	font-size: 11pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

	text-decoration: none;

}



a.whiteLargeBold:hover{

	font-size: 11pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

	text-decoration: underline;

}



a.whiteLargeBold:active{

	font-size: 11pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

	text-decoration: none;

}



.whiteRegular{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: normal;

	font-style: normal;

	color: #FFFFFF;	

}



a.white{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

	text-decoration: none;

}



a.white:Hover{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

	text-decoration: underline;

}



a.white:active{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

	text-decoration: none;

}



.whiteBold{

	font-size: 15pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

}



a.linkLargeBold{

  font-size:11pt;

  font-family: Arial, Helvetica, sans-serif;

  font-weight:bold;

  font-style: normal;

  color: #6699CC;

  text-decoration: none;

}



a.linkLargeBold:hover{

  font-size:11pt;

  font-family: Arial, Helvetica, sans-serif;

  font-weight:bold;

  font-style: normal;

  color: #6699CC;

  text-decoration: underline;

}



a.linkLargeBold:active{

  font-size:11pt;

  font-family: Arial, Helvetica, sans-serif;

  font-weight:bold;

  font-style: normal;

  color: #6699CC;

  text-decoration: none;

}



/* Begin: Form Element - Select Box, Text Box */

input.text,select,textarea {

	font-family: Arial, Helvetica, sans-serif;

	font-style: normal;

	font-size: 8pt;

	color: #000000;

}

/* End: Form Element - Select Box, Text Box */



p{

	font-family: Arial, Helvetica, sans-serif;

	font-style: normal;

	color: #616a74;

}



b{

	font-family: Arial, Helvetica, sans-serif;

	font-style: bold;

	color: #616a74;

}



li{

	font-family: Arial, Helvetica, sans-serif;

	color: #616a74;

}



a.linkBlueGreen9{

  font-size:9pt;

  font-family: Arial, Helvetica, sans-serif;

  font-weight: normal;

  font-style: normal;

  color:#6699CC;

  text-decoration: none;

}



a.linkBlueGreen9:hover{

  font-size:9pt;

  font-family: Arial, Helvetica, sans-serif;

  font-weight: normal;

  font-style: normal;

  color:#6699CC;

  text-decoration: underline;

}



a.linkBlueGreen9:active{

  font-size:9pt;

  font-family: Arial, Helvetica, sans-serif;

  font-weight: bold;

  font-style: normal;

  color:#007B32;

  text-decoration: none;

}



.linkPag{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: none;

}



.linkPag:Hover{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: underline;

}



.linkPag:Active{

	font-size: 11pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: bold;

	color: #007B32;

	text-decoration: none;

}

/* End: Green Regular Link text 10px */



.glossLinkPag{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: none;

}



.glossLinkPag:Hover{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: normal;

	color: #6699cc;

	text-decoration: underline;

}



.glossLinkPag:Active{

	font-size: 9pt;

	font-family: Arial, Verdana, Helvetica, sans-serif;

	font-weight: bold;

	color: #007B32;

	text-decoration: none;

}



.whiteBold{

	font-size: 9pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

}



.whiteBoldLarge{

	font-size: 15pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

}



.whiteBold13{

	font-size: 13pt;

	font-family: Arial, Helvetica, sans-serif;

	font-weight: bold;

	font-style: normal;

	color: #FFFFFF;	

}

/* Begin: Go Button */

.btnGo{

	color: #ffffff;

	background-color: #007E3A;

	font-family: Arial, Verdana, Helvetica, sans-serif; 

	font-size: 9pt;

	font-style: normal; 

	font-weight: bold;

	text-align: centre;

	text-decoration: none;  

	padding: 0px 0px 0px 0px;

	display: block;	

	border-top: 1px solid #99D6AD;

	border-left: 1px solid #99D6AD;

	border-right: 1px solid #000000;

	border-bottom: 1px solid #000000;		

	cursor: pointer;

}

/* End: Go Button */



html>body .btnGo{

	cursor: pointer;

	padding: 2px 0px 2px 0px;

}



.linkHeight {

line-height: 145%;    /* This class is used for M_G13_HomepagePSDirectory */

}

